@media (min-width: 700px) {
    .detail{
        display: flex;
        gap: 10px;
        position: absolute;
        z-index: 1;
        top: 30px;
        right: 8px;
    }
    .acc {
        display: none;
    }
    .off {
        display: none;
    }
    .bags {
        display: flex;
        /* gap: 1px; */
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin-top: 17px;



    }
    .accounts {
        display: flex;
        /* gap: 1px; */
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 36%;
        margin-top: 17px;
    }
}